@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{    
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;  
    list-style: none;  
}


@media (min-width:1000px) and (max-width: 1800px) {
    .FondoHeader img{ 
        position:absolute;
        width: 100%;
        height: 35em;
        background-size:cover;
        background-repeat: no-repeat;  
        overflow: hidden;     
        margin: 0;    
        opacity: 0.6;      
        z-index: -1;  
    }
    .TallerMecanico h1{
        margin-left: -1em;
    }

    .Bienvenido{
        display: flex;
        position: relative;
        top: 12em;      
        left: 2em;
    }
    h2{
        display: flex;
        position: relative;
        color: black;
        font-size: 3em;  
        text-align: center;  
        margin-left: -4em; 
    }
    
    .linea{
        display: flex;
        position: relative;
        border-top: 3px solid black;
        height: 1px;
        max-width: 950px;    
        top: 20em;
        margin-left: -12em;
    }
  
    button{
        display: flex;
        position: relative;     
        margin-left: 15em;
        z-index: -1;
        border: 1px solid #ca3a32;
    }

    .button:hover{
        background-color: transparent;
        color:#ffffff;
    }

    .TextodelBody1{
        margin-left: 18em;
        margin-top: 10em;
        position: relative;
        display: flex;
        z-index: 1;
    }
    

    .body1 h4{
        color: brown;
        font-size: 2em;  
        left: -5em;
        margin-left: 0;
        margin-right: 1em;
        display: flex;
        position: absolute;
        padding: 10px;
       
    }
    
    
    .TextodelBody1 h3:hover{
        transform: scale(1.9);
    }
    
    .textonuesstroservicio{
        margin-left: 70em;
        font-size: 1em;
        right: 20em;
        display: flex;
        position: relative;
        margin-top: 1em;
        z-index: 1;
        padding: 50px;
    }
    .p{
        line-height: 2em;    
        margin-top: 1em;
        left: 1em;
        z-index: 1;
       position: relative;
       
    }
    
    .imag-presen img{
        width: 24%;
        margin-left: -20em;
        margin-top: -4em;
        position: relative;
        display: flex;
        bottom: 10px;
        right: 5px;
    }

    .TextodelBody2 h6{
        left: 7em;
        margin-top: 10em;
        position: relative;
        display: flex;
        padding: 40px;
    }

    


    .conta{
        left: -13em;
        position: relative;
        z-index: 1;
       
    }

    .container2{
        left: -13em;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .TextodelBody3 h3{
        left: -25em;
        font-size: 2em;
        z-index: 1;
        display: flex;
    }
    
   
    .textoservicio p{
        left: -10em;
        font-size: 1.4em;
    
    }

    .footer-links h4{
        font-size: 5px;
        color: #ffffff;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid #00c3ff;
        padding-bottom: 5px;
        display:inline-block;
        display: flex;
    }
    .footer-links ul li a{
        font-size: 5px;
        color: #bbbbbb;
        transition: all .3s ease;
        position: relative;
    }
    .footer-links ul li a:hover{
        color: #ffffff;
        padding-left: 6px;
        
    }

    @media(max-width:991px){
        .footer-row{
            text-align: center;
        }
        .footer-links{
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .meta-link-wrapper{
        left: -10em;
        
    }
    
    .meta-link-wrapper p{
        margin-left: 1em;
        margin-top: -5em;
        font-size: 16px;
        z-index: -1;
        display: flex;
    }
    
    .politica a{
        margin-left: 10em;
       
    }
    
    .elementor-button-wrapper a{
        margin-left: -1em;
        font-size: 17px;
       
    }
    
    .text h2{
        left: 32em;
        margin-top: -4em;
        z-index: 1;
        color:#00c3ff;
        position: relative;
    }
    .lista{
        color:#00c3ff;
      
        right: 25em;
        font-size: 15px;
        position: relative;
        display: flex;
    }

}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}


@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
.meta-link-wrapper{
    margin-left: 100em;
}




/* IMAGEN DE FONDO DEL HEADER */
.FondoHeader img{ 
    position:absolute;
    width: 100%;
    height: 35em;
    background-size:cover;
    background-repeat: no-repeat;  
    overflow: hidden;     
    margin: 0;    
    opacity: 0.6;      
    z-index: -1;  
}

/* TALLER MECANICO MyM */
.TallerMecanico h1{
    display: flex;
    position: relative;    
    top: 2em;
    left: 23%;    
}

h1{
    color:black;
    font-size: 6em;
    text-transform: capitalize;  
    text-align: center;  
    
}

/* BIENVENIDO A NUESTRO TALLER */
.Bienvenido{
    display: flex;
    position: relative;
    top: 12em;      
    left: 12em;
}

h2{
    display: flex;
    position: relative;
    color: black;
    font-size: 3em;  
    text-align: center;  
    left: 8.5em; 
}

.linea{
    display: flex;
    position: relative;
    border-top: 3px solid black;
    height: 1px;
    max-width: 950px;    
    top: 20em;
    left: 27em;
}

/* BOTON VER MAS */
button{
    display: flex;
    position: relative;
    top:15em;
    left: 52em;
    transition-duration: 0.5.s;
    background-color: #ca3a32;
    border: 2px solid red;
    color: white;
    padding: 15px 32px ;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    margin: 4px 2px;
    cursor: hand;         
}
.button:hover{
    background-color: transparent;
    color:#ffffff;
}

/*NAVEGADOR*/
.navegador{
    display: flex;
    position: relative;
    margin-top: -17em;
    z-index: 1; 
    background-color: #242628; 
    width: 120em;
    margin-top: -18em;
}


/*NAVEGADOR TEXTO*/
.navegador  ul li a{  
    display: flex;
    position:absolute;
    text-decoration: none;
    list-style-type: none;
    padding: 1px;
    color: #ffffff;
    margin-left: 20em;
    text-align: center;
    margin-top: 2em;
}

.navegador li:hover{
    transform: scale(1.2);
}

.servicio{
    margin-left: 25em;

}

.historia{
    margin-left: 15em;
    
}

.productos{
    margin-left: 15em;
}
.contactos{
    margin-left: 23em;
}

/* LOGO AUTOMOTOR */
.navegador .logomecanico{
    cursor: pointer;
    display: flex;
    position: relative;
    width: 1em;
    height: 5em;
    left: 1em;
    top: 1px;
}

.navegador .logomecanico img:hover{
    transform: scale(1.2);
}



/*BODY*/
body{  
    background-color: cornflowerblue; 
    width: 100%;
    height: auto;
    overflow-x:hidden;
}
/*TEXTO*/
.TextodelBody1 h3{    
    line-height: 2em;
    text-align: justify;    
    margin: 10px;
    top: 1em;
    left: 5em;
    width: auto;   
    text-align: center;  
    margin-top: 30em;
    margin-left: 1em;
    margin-right: 40em;
}

.TextodelBody1 h3:hover{
    transform: scale(1.9);
}

.body1{
    left: 13em;
    margin-left: 0;
    margin-right: 1em;
    display: flex;
    position: relative;
    padding: 1px;
    line-height: 2em;
    text-align: justify;       
    font-size: 2em;
    color: brown; 
}

.textonuesstroservicio p{
    line-height: 2em;   
    text-align: justify;
    margin: 10px;
    top:1em;
    left: 25em;
    width: auto;    
    font-size: 1.2em;  
    text-align: center;  
    margin-top: 1em;
    margin-left: -40em;
   
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}


/*TEXTO*/
.TextodelBody3 h3{
    line-height: 2em;
    text-align: justify;    
    margin: 10px;
    left: 25em;
    width: auto;   
    text-align: center;  
    margin-top: 30em;
    margin-left: 1em;
}

/*IMAGEN PRECENTACION*/
.imag-presen{
    width: 20em;
    height: 20em;   
    margin-top: -24em;
    position: relative;
    float: left;
    margin-left: 70em;
}
.imag-presen img{
    width: 35em;
    top: 5em;
    border-color: #063f50;
    border-style: dotted;
    position: relative;
    z-index: -1;
}
/*TEXTO PRESENTACION*/
.TextodelBody2 h5{
    color: white;
    background-color: brown;
    font-size: 2em;  
    text-align: center;  
    left: 8em; 
    margin-top: 7em;

   
}
.TextodelBody2 h6{
    line-height: 2em;
    text-align: justify;    
    margin: 10px;
    top:1em;
    width: auto;   
    text-align: center;  
    font-size: 2em;
    margin-top: 1em;
    margin-left: -2em;
}
/*CUADRICULA DE FT*/
.conta .imagen{
    width: 20em;
    height: 20em;
   
}
.conta{
    margin-left: 27em;

}
.container2 .imagen{
    width: 20em;
    height: 20em;                                                                                       
}
.container2{
    margin-left: 27em;
}
/*TEXTO ATEN. Y CAL.*/
.TextodelBody3 h3{
    line-height: 2em;
    text-align: justify;    
    margin: 10px;
    top:1em;
    width: auto;   
    text-align: center;  
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 2em;
}

.TextodelBody3 h3:hover{
    transform: scale(1.9);
}
.textoservicio p{
    display: flex;
    position: relative;
    line-height: -1em;
    text-align: justify;    
    margin: 10px;
    top: 1em;
    width: auto;   
    text-align: center;  
    margin-top: -2em;
    margin-left: 17em;
    font-size: 1.4em;

}

.imag-pr img{
    width: 34%;
    height: 36%;
    margin-left: 79em;
    margin-top: -18em;
    position: relative;
    display: flex;
    bottom: 10px;
    right: 5px;
}


footer{
    background-color: #242628;
    padding: 10px 25px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15em;
}
.footer-links{
    width: 25%;
    padding: 0 10px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display:inline-block;
    
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    margin-right: 1em;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
.meta-link-wrapper{
    margin-left: -2em;
}

.meta-link-wrapper p{
    margin-left: 1em;
    margin-top: -5em;
    z-index: -1;
}

.politica a{
    margin-left: 1em;
   
}

.elementor-button-wrapper a{
    margin-left: 1em;
    margin-top: 2em;
   
}

.text h2{
    margin-left: 22em;
    margin-top: -4em;
    z-index: 1;
    color:#00c3ff;
}
.lista{
    color:#00c3ff;
    margin-left: 85em;
}



